<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{app_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{{app_icon}}"/>
    <link rel="stylesheet" href="/static/lib/arco/2.64.1/arco.min.css"/>
    <link rel="stylesheet" href="/static/bmbp_ui_theme/css/default/index.css"/>
    <link rel="stylesheet" href="/static/bmbp_rbac/css/default/index.css"/>
</head>
<body>
<div id="app"></div>
<script>
</script>
<script src="/static/lib/react/18.3.1/react.production.min.js"></script>
<script src="/static/lib/react/18.3.1/react-dom.production.min.js"></script>
<script src="/static/lib/react/18.3.1/react-dom.profiling.min.js"></script>
<script src="/static/lib/arco/2.64.1/arco.min.js"></script>
<script src="/static/lib/arco/2.64.1/arco-icon.min.js"></script>
<script src="/static/lib/arco/2.64.1/arco-iconfont.min.js"></script>
<script src="/static/lib/axios/1.7.2/axios.min.js"></script>
<script src="/static/lib/axios/1.7.2/axios.config.min.js"></script>
<script src="/static/bmbp_rbac/js/user/index.js"></script>
</body>
</html>